<form method="post" action="{{ path('app_tecnico_delete', {'idTecnico': tecnico.idTecnico}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tecnico.idTecnico) }}">
    <button class="btn">Delete</button>
</form>
