<form method="post" action="{{ path('app_cliente_delete', {'idCliente': cliente.idCliente}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.idCliente) }}">
    <button class="btn">Delete</button>
</form>
