<form method="post" action="{{ path('app_facturador_delete', {'idFacturador': facturador.idFacturador}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facturador.idFacturador) }}">
    <button class="btn">Delete</button>
</form>
